In [1]:
import pandas as pd

In [6]:
from google.colab import files
uploaded = files.upload()

Saving urlset - urlset.csv to urlset - urlset.csv

In [49]:
data=pd.read_csv('urlset - urlset.csv')

In [50]:
data.head()

                                              domain  ...  Unnamed: 14
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...  ...          NaN
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...  ...          NaN
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....  ...          NaN
3  mail.printakid.com/www.online.americanexpress....  ...          NaN
4  thewhiskeydregs.com/wp-content/themes/widescre...  ...          NaN

[5 rows x 15 columns]

In [51]:
data.drop(['ranking','mld_res','mld.ps_res','card_rem','ratio_Rrem','ratio_Arem','jaccard_RR','jaccard_RA','jaccard_AR','jaccard_AA','jaccard_ARrd','jaccard_ARrem'],axis='columns',inplace=True)

In [52]:
data.head()

                                              domain  label  Unnamed: 14
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...    1.0          NaN
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...    1.0          NaN
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....    1.0          NaN
3  mail.printakid.com/www.online.americanexpress....    1.0          NaN
4  thewhiskeydregs.com/wp-content/themes/widescre...    1.0          NaN

In [53]:
data.dropna()

Empty DataFrame
Columns: [domain, label, Unnamed: 14]
Index: []

In [54]:
data.head()

                                              domain  label  Unnamed: 14
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...    1.0          NaN
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...    1.0          NaN
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....    1.0          NaN
3  mail.printakid.com/www.online.americanexpress....    1.0          NaN
4  thewhiskeydregs.com/wp-content/themes/widescre...    1.0          NaN

In [55]:
data.drop(data[data['label'] == 0].index, inplace = True)

In [56]:
data.describe()

         label  Unnamed: 14
count  47902.0          2.0
mean       1.0          1.0
std        0.0          0.0
min        1.0          1.0
25%        1.0          1.0
50%        1.0          1.0
75%        1.0          1.0
max        1.0          1.0

In [57]:
data.head()

                                              domain  label  Unnamed: 14
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...    1.0          NaN
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...    1.0          NaN
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....    1.0          NaN
3  mail.printakid.com/www.online.americanexpress....    1.0          NaN
4  thewhiskeydregs.com/wp-content/themes/widescre...    1.0          NaN

In [58]:
def trim(string):
    string=str(string)
    v1=string.find('/')
    string=string[0:v1]
    return string

In [59]:
data.describe()

         label  Unnamed: 14
count  47902.0          2.0
mean       1.0          1.0
std        0.0          0.0
min        1.0          1.0
25%        1.0          1.0
50%        1.0          1.0
75%        1.0          1.0
max        1.0          1.0

In [60]:
for i in range(0,47902):
  data.at[i,'domain']=trim(data.at[i,'domain'])

In [61]:
data.head()

                domain  label  Unnamed: 14
0            nobell.it    1.0          NaN
1      www.dghjdgf.com    1.0          NaN
2     serviciosbys.com    1.0          NaN
3   mail.printakid.com    1.0          NaN
4  thewhiskeydregs.com    1.0          NaN

In [63]:
data.describe()

         label  Unnamed: 14
count  47902.0          2.0
mean       1.0          1.0
std        0.0          0.0
min        1.0          1.0
25%        1.0          1.0
50%        1.0          1.0
75%        1.0          1.0
max        1.0          1.0

In [64]:
data.to_csv(r'E:\data\file.csv', index=False)